// Omnisearch https://github.com/scambier/obsidian-omnisearch
@media only screen and (max-width: 600px) {
  .omnisearch-input-container__buttons {
    padding: 0 8px;
  }
}
@media only screen and (min-width: 600px) {
  .omnisearch-input-container__buttons {
    margin-inline-end: 4px;
  }
}
.omnisearch-input-field {
  width: 100%;
}
.omnisearch-input-container__buttons button {
  box-shadow: none;
  border: var(--input-border-width) solid var(--background-modifier-border);
}
body:not(.is-mobile) .omnisearch-input-container__buttons {
  display: none;
}
body.prompt-padded {
  @media only screen and (max-width: 600px) {
    .omnisearch-input-container__buttons {
      padding: 0;
    }
  }
  @media only screen and (min-width: 600px) {
    .omnisearch-input-container__buttons {
      margin-inline-end: 0;
    }
    .omnisearch-input-container__buttons button {
      height: var(--prompt-input-height);
    }
  }
  .omnisearch-input-container {
    margin: 8px 8px 0;
    border-bottom-width: 0;
  }
}

// Notebook Navigator https://github.com/johansan/notebook-navigator
body {
  --nn-theme-nav-header-bg: transparent;
  --nn-theme-nav-bg: transparent;
  --nn-theme-list-header-bg: transparent;
  --nn-theme-list-bg: transparent;
}
body:not(.is-mobile) .view-content.notebook-navigator {
  padding: 0 !important;
  background-color: transparent;

  .nn-split-container.nn-single-pane {
    .nn-navigation-pane .nn-pane-header,
    .nn-navigation-pane-scroller {
      border-right: none;
    }
  }
  .nn-virtual-container {
    margin-bottom: 32px;
  }
  .nn-search-input {
    height: 100% !important;
  }
}

// Hider https://github.com/kepano/obsidian-hider
.hider-sidebar-buttons.mod-macos {
  --frame-left-space: calc(80px - var(--ribbon-width));
}
.hider-sidebar-buttons .sidebar-toggle-button.mod-right,
.hider-sidebar-buttons .sidebar-toggle-button.mod-left {
  display: flex;
  visibility: hidden;
  width: 0;
  opacity: 0;
}
