.link-panel {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  width: 100%;
  min-width: min(320px, 100%);
  color: var(--text-normal);
  text-decoration: none;
}

.link-panel button {
  height: 480px;
  font: inherit;
}
.link-panel button svg {
  width: 1.602em;
  height: 1.602em;
}
